*{
    font-family: Arial;
    font-weight: bold;
}
.box {
    text-align: center;
    margin:auto;
}
.mac {
    font-size: 18px;
}
#supercharged {
    font-size: 26px;
}
.buy {
    padding: 5px 10px;
    background-color: rgb(9, 141, 194);
    color: white;
    border-radius: 50px;
    border:none;
}